/*
Theme Name: Yogsutra
Theme URI: http://yogsutra.com
Author: Sajjad Hossain
Author URI: http://sajjadhossain.info
Description: Yogsutra is a custom theme for made bloging.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: yogsutra
Tags: Yogsutra

*/


html {
    font-family: 'Poppins', sans-serif;
    font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

.entry-footer-sex{
   padding:0 10px;
   margin-top:-50px;

}
.entry-footer-sex a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  padding: 5px;
}

a {
 background-color: transparent;
color:#0000FF;
 text-decoration: none;
}
a:focus,
a:active,
a:hover {
	outline: none;
	color:#000;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.5;
}
.stickynav .navbar-right{
    
 margin-top:10px;   
    
}

.page-template-page-apphome .widget{
    
    background: #2a2a2c none repeat scroll 0 0!important;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.search-open {
    color: rgb(50, 50, 50);
}
.search-header {
    float: right;
    padding: 15px 0;
    margin-left: 20px;
}
.search-open:hover {
    color: rgb(143, 143, 143);
}
.search-inside {
    background: rgba(0, 0, 0, 0.84);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.search-form {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
}
.search-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0);
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #ffffff!important;
    display: block;
    font-size: 6rem;
    height: auto;
    line-height: 1.4;
    padding: 0 0 10px;
    transform: translate3d(0px, -15px, 0px);
    transition: border-color 0.3s ease-in-out 0.4s, transform 0.3s ease-in-out 0.2s;
    width: 100%;
    border-bottom-color: rgb(255, 255, 255);
    z-index: 9999;
}
.search-form label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    font-weight: 500;
    transform: translate3d(0px, -20px, 0px);
    transition: all 0.3s ease-in-out 0.4s;
}
.search-close {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 1.3;
    padding: 8px;
    position: absolute;
    right: 60px;
    text-align: center;
    top: 60px;
    transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s;
    width: 38px;
    cursor: pointer;
}
.search-close:hover {
    background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;
    border-color: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    transition: .3s;
    cursor: pointer;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/


a:visited {
	 color:#0000FF;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	 color:#0000FF;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

a:hover,
a:active {
	outline: none;
	text-decoration: none;
}

a:hover{
 text-decoration: none !important;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
	padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.carousel-control.left {
  background-image: none;
  
}
.carousel-control.right{
  background-image: none;
  
}
.carousel-control {
  width: 3%;
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-content .tab-content{
border-bottom:1px solid #837d7d;
border-left:1px solid #837d7d;
border-right:1px solid #837d7d;
padding:10px;
}
.entry-content .nav-tabs {
  border-bottom: 1px solid #837d7d;
  background:#ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #837d7d #837d7d transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555;
  cursor: default;
}
.byline,
.updated:not(.published) {
	display: none;
}
.carousel-indicators li {

  margin: 2px;
  
}
.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* custom css  */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #444;
    height: 100%;
    text-align: left;
    line-height: 1.8em;
}
.relatedcontent p a {
  color: #444;
  font-weight: 400;
  font-size: 12px;
}
b, strong {
  font-weight: 500;
}
h1{
font-family: "Poppins",sans-serif;
font-size: 22px;
font-weight: 700;
color:#000;
}
h2{
font-family: "Poppins",sans-serif;
font-size: 20px;
font-weight: 700;

}
h3{
font-family: "Poppins",sans-serif;
font-size: 18px;
font-weight: 700; 
color:#000;
}
h4{
font-family: "Poppins",sans-serif;
font-size: 17px;
font-weight: 700; 
color:#000;
}
h5,h6{
font-family: "Poppins",sans-serif;
font-size: 16px;
font-weight: 700; 
color:#000;
}
.site{   
    background: #666666;
    
}
.site-content .container{
    background: #ffffff;
   
}

.nav > li > a {
 
  padding: 10px;
 
}
.nav-tabs li a {
  color: #000;
  font-weight: 700;
  font-size: 14px;
}
.nav-tabs li a:hover{
background:#595859;
color:#ffffff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #595859;
  border-color: #837d7d #837d7d transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: default;
}
/* top bar */

.header_top .navbar-nav > li > a {
  padding: 14px 10px;
  transition: all 0.5s ease-in-out;
 font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color:#000;
}
.header_top .navbar-nav > li > a:hover{
    background: #44749A;
    color:#fff;
}
.header_top .dropdown-menu {
  background-color: #ffffff !important;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: none;
  margin: 0;
  padding:0;
  transition: all 0.5s ease-in-out;
  
}
.custom_classs{
padding:8px 0;

}
.header_top .dropdown-menu > li {
 border-bottom:1px solid #ddd;
}
ul.header_right_contents li{      
   margin: 5px 1px;  
}
ul.header_right_contents li a {
  background: #536425 none repeat scroll 0 0;
  border: 1px solid #536425;
  padding: 2px 8px;
  transition: all 0.5s ease-in-out 0s;
    border-radius: 100%;
}
.nav-pills > li > a {
  border-radius: 0;
}
ul.header_right_contents li a:hover{   
   background: #44749A;
   border: 1px solid #44749A;
   border-radius: 100%; 
}
ul.header_right_contents li i {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  width: 15px;
}
.header_top .dropdown-menu > li > a {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s ease-in-out;
  padding: 10px 0;
  text-align: center;
}
.header_top .dropdown-menu > li > a:hover{
   background: #44749A;
   color:#fff; 
}
.header_top .navbar-collapse {
 padding:0;
}
.header_top_content{
    background: #d3d3d3 none repeat scroll 0 0;     
}
.header_banner_content{
    background: #ffffff;
    padding: 10px;
}
.header_banner img{
    width:100%;
    padding: 5px;
}

/*make the menu sub-menu items drop down on mouse hover */
ul li.dropdown > ul.dropdown-menu{
     transition: all 0.5s ease-in-out;
}
ul li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
   
}
.dropdown-menu > li > a {
  color: #000000;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow:none; 
  margin:0;
  padding:0;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
  
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff!important;
    text-decoration: none;
   
}

/* main menu */

.mainmenu{
    background: #EDEDED;
    border-bottom: 5px solid #536425;
}
.dropdown .dropdown-menu{
   display: none;   
  opacity:0;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;       
}

.mainmenu .navbar-nav > li > a {
  padding-bottom: 12px;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color:#000;
}
.mainmenu .navbar-nav > li > a:hover{
    background: #44749A;
    color:#fff;
}
.mainmenu .dropdown-menu {
  background-color: #EDEDED !important;
  border:none;   
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding:0;
  transition: all 0.5s ease-in-out;
}
.mainmenu .dropdown-menu > li {
 border-bottom:1px solid #ddd;
 transition: all 0.5s ease-in-out;
}
.mainmenu .dropdown-menu > li > a {
  background-color: #EDEDED;
  color: #000000;
  transition: all 0.5s ease-in-out;
  padding: 15px 5px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.mainmenu .dropdown-menu > li > a:hover{
   background: #44749A;
   color:#fff; 
}
.mainmenu .navbar-collapse {
 padding:0;
}
.mainmenu .current-menu-item{
    background: #44749A;
     color:#ffffff!important;
}
.mainmenu .current-menu-item a{ 
     color:#ffffff;
}
.stickynav{    
    z-index: 9999;
}
/* Blog post */
.post-media{
    padding: 10px 0;
}
.content-area .entry-header{   
    padding:0 10px;
}
.content-area .entry-content{
    padding: 10px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    overflow: hidden;  
}
.content-area .entry-content img{
    width: 100%;
    height: 100%;
}
.content-area .entry-content-page { 
  color: #444;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
.content-area .entry-content-page img{
    width: 100%;
    height: 100%;
}
.entry-content-link-button a {
  background: #44749a none repeat scroll 0 0;
  color: #fff;
  padding: 5px 10px;
  transition: all 0.5s ease-in-out;
}
.entry-content-link-button a:hover{   
    background: #FF6416;
    color: #fff;
}
.content-area .entry-footer{
   
    border-bottom: 1px solid #ddd;   
}
.entry-title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.entry-title a{
   transition: all 0.5s ease-in-out;
}
.entry-title a:hover{
   color:#44749A; 
}
.content-area p {
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 10px;
    color: #000;
    font-weight: 400;
}
.content-area .entry-footer ul li a{
    border-top: 1px solid #ddd;  
    transition: all 0.5s ease-in-out;  
    color: #444;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
     padding: 10px;
     text-align:left;
}
.content-area .entry-footer ul li a:hover{
    background: #44749A;
    color: #ffffff;
}
#related_posts{    
    overflow: hidden;   
}
#related_posts strong{
    padding: 0 15px;
}
a:hover{
    color: #44749A;
}
.relatedcontent h5{
     color: #444;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;  
}
.entry-footer-tags {
  padding: 0 10px;
}
.entry-footer-tagss p {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 14px;
  padding: 10px 0;
}

.entry-footer-tags i{
    color:#ff4e00;
    margin-right:5px;  
}
article hr {
 background: transparent;
  border-bottom: 2px dashed #000; 
  height: 1px;
  padding: 0 10px; 
}
.entry-footer-tags a{
    color:#8fa9d8;
}
/* comments area */
#comments .comments-title{
 font-family: 'Poppins', sans-serif;  
 color: #444;
font-weight: 400;
font-size: 18px;
}
.comments-area{
    padding: 15px;
}
.required{
    color:#FF0000;
}
.comment-form-comment label{
    color: #444;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}
.comment-form-comment textarea {
    font-size: 14px;
    line-height: 25px;
    color: #444;
    border: 1px solid #e1e1e1;
   }
   
.form-submit .submit {
  background: #44749a none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  padding: 15px 20px;
  transition: all 0.5s ease-in-out 0s;
}
.form-submit .submit:hover{
    background: #FF6416;
    color: #ffffff;
}
.comment-form-author label{
    color: #444;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}
.comment-form-author input{
    font-size: 14px;
    line-height: 25px;
    color: #444;
    border: 1px solid #e1e1e1;
    width: 100%;
}
.comment-form-email label{
    color: #444;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}
.comment-form-email input{
    font-size: 14px;
    line-height: 25px;
    color: #444;
    border: 1px solid #e1e1e1;
    width: 100%;
}
.comment-form-url label{
    color: #444;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}
.comment-form-url input{
    font-size: 14px;
    line-height: 25px;
    color: #444;
    border: 1px solid #e1e1e1;
    width: 100%;
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.post-pagination {
    padding: 10px;
}
.post-pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.post-pagination  ul li{
    float: left;
}
.post-pagination ul li a {
  border: 1px solid #44749A;
  color: #44749A;
 font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  text-decoration: none;
  margin: 2px;
  transition: all 0.5s ease-in-out;
}
.post-pagination ul li a:hover{
    background-color: #44749A;
    color: #ffffff;
     border: 1px solid #44749A;
}
.post-pagination .current:hover{
     background-color: #44749A;
    color: #ffffff;
    border: 1px solid #44749A;
}
.post-pagination ul li a i{
    font-size: 20px;
}
.post-pagination .current{
   font-size: 16px;
    padding: 5px 15px;
    text-decoration: none;
    color: red; 
    border: 1px solid #44749A;
    margin: 2px;
}

/* Footer */

.footer-widget{    
   background: #2A2A2C;
   padding: 10px 20px;
   color:#ffffff;
   font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 25px;
}
.widget-area{
    padding: 10px;
}
.widget li{
    list-style: none;
}
.widget ul {
  padding: 0px 5px;
}
.upper-footer .widget-area a{
    color: #ffffff;
   font-family: 'Poppins', sans-serif;
   transition: all 0.5s ease-in-out;
    font-size: 12px;
     font-weight: 300;
}
.upper-footer .widget-area a:hover{
    color: #44749A; 
}
.widget-title{
  font-family: 'Poppins', sans-serif;
    padding:0 5px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  
    border-bottom:1px solid #fff;
    font-weight:500;
}
.widget .search-field{
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  font-size: 12px;
  font-style: italic;
  margin: 0;
  padding: 10px;  
}
.widget .search-submit{
 background: #f1f1f1 none repeat scroll 0 0; 
 border: medium none;
 font-size: 15px;
 margin: 0;
  padding: 11px;  
   font-weight: 700;
    text-transform: uppercase;
}
.site-content .widget{
    background: #EDEDED;
    padding:0 10px;  
    border: 1px solid #EDEDED;
    border-radius: 4px;
  
}
.bottom-footer{
   background: #ffffff; 
}
.site-info p{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.site{
    overflow: hidden;
}

/*  Scroll to top */

.scroll-to-top,
.scroll-to-bottom{
	padding:2px;
	position:fixed;	
	opacity:0.8;
	cursor: pointer;
	z-index: 9999;
}
.scroll-to-top{
	bottom:5px;
	right:45px;
}
.scroll-to-bottom{
	bottom:5px;
	right:10px;
}

.stab-left .scroll-to-top {
	right: inherit;
	left: 30px;
} 
.stab-left .scroll-to-bottom{
	right: inherit;
	left:66px;
}
.stab-center .scroll-to-top {
	right: 50%;
	margin-right: 5px;
} 
.stab-center .scroll-to-bottom{
	right: 50%;
	margin-right: -30px
}
.scroll-btn-container i {
  background: #44749a none repeat scroll 0 0;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 20px;
}

/* sidebar tab */

.yogsutra-tab .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #536425;
  color: #fff;
}
.yogsutra-tab .nav-pills > li > a {
  border-radius: 2px;
}
.yogsutra-tab .tab-content img {
  float: left;
  margin: 0 10px 10px 0;  
   border: none;
   border-radius: 5px;
}
.yogsutra-tab .tab-content h-p {
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-weight: 300;
    color: #444; 
}
.yogsutra-tab .tab-content ul li{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.widget ul li a{
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
    font-weight: 700;
    color: #444;
    transition: all 0.5s ease-in-out;
}
.widget ul li a:hover{
    color: #44749A;
}

/*--------------------------------------------------------------
     # Slider
----------------------------------------------------------------*/

#mainslider{
    padding: 10px 0;
}
.carousel-indicators {
  bottom: 5px;
}
.carousel-indicators .active {
  background-color: #44749A!important;
 border: 1px solid #44749A!important;
}
.carousel-indicators li {
  background-color: #ffffff!important;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  width: 10px;
}
.carousel-caption {
  bottom: 20px;
  color: #fff;
  left: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  right: 5%;
  text-align: center;
  top: 50%;
  z-index: 10;
}
.carousel-caption a {
  background: #44749a none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
  transition: all 0.5s ease-in-out 0s;
  border: 1px solid#44749a;
  border-radius: 5px;
  font-family: "Myriad Pro Regular";
}
.carousel-caption a:hover{   
    background: #FF6416;
    color: #fff;
    border: 1px solid#FF6416;
}
.first-post .entry-title {
  font-family: "Poppins",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
.first-post p {
  color: #000;
   font-family: "Poppins",sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8em;
  margin-bottom: 10px;
}
.postlist{
    padding: 6px 0;
}

.postlist img {
  border: medium none;
  border-radius: 5px;
  float: left;
  margin: 0 5px 5px 0;
  
}
.postlist h3{
    padding: 5px;
    margin: 0;
}
.postlist ul li a {
  font-size: 14px;
  color: #444;
   font-family: "Poppins",sans-serif;
   margin-top: -10px;
   padding: 0;
   font-weight: 400;
}
.post-add{
    padding: 10px 0;
    overflow: hidden;
}
.post-media img{
width:100%;
}
.post-single-media img{
  border-bottom: 10px solid #536425;   
}
.content-area .entry-cat{  
    border-top: 1px solid #ddd;    
    border-bottom: 1px solid #ddd;    
}
.content-area .entry-cat ul li a {
  color: #444;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  transition: all 0.5s ease-in-out 0s;
  text-align: left;
}
.content-area .entry-cat ul li a:hover{
    background: #44749A;
    color: #ffffff;
}

.navbar-toggle {
  background-color: #44749A;
  border: 1px solid #44749A; 
}
.navbar-toggle .icon-bar {
background: #fff;
}
.home-title-content{
    padding: 0 10px;
 
}
.home-title {
  border-bottom: 5px solid #536425;
  padding: 5px 0;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}
.home-title span {
  background: #536425 none repeat scroll 0 0;
  padding: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cat-post-sec{
    padding: 10px 0;
}
.widget ul li img {
  border: medium none;
  border-radius: 5px;
  float: left;
  margin: 0 10px 10px 0;
}
.widget ul li p{
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-weight: 300;
}
.site-branding-mobile{
    display:none;
}
.mobile-footer-banner {
  background: #fff none repeat scroll 0 0;
position:fixed;
   left:0px;
   bottom:0px;
   
   width:100%;
   display:none;
 
}
/* Responsive css */

@media screen and (max-width: 980px) {
.yogsutra-tab .tab-content ul li { 
  padding: 35px 0;
}
.entry-footer-tags {
  padding: 110px 10px;
}
}
@media screen and (max-width: 768px) {



}

@media screen and (max-width: 640px) {
    .navbar-header{
	background: #ffffff;
    }
.navbar-nav {
  margin: 0;
  z-index: 9999;
}
.carousel-caption{
    display: none;
}
#mainslider {
  z-index: 0;
}
.carosel_img img{
     z-index: 0;
}
.navbar-collapse{
     z-index: 9999;
}
.nav > li {
  background: #fff;
  z-index: 9999;
}
.header_banner{
display:none;
}
#text-18{
display:none;
}
.header_banner_content {
   
    display: none;
}
.site-branding-mobile{
    display:block;
}


}

@media screen and (max-width: 480px) {

.site-info p {
  margin-bottom: 35px;
}
.mobile-footer-banner{
    display:block;
    
}
.scroll-btn-container{
 display: none;
}
}

@media screen and (max-width: 320px) {

}